/.ipynb_checkpoints
/.virtual_documents
/app2.py
/dataset
/genai
/labels_penboxannotations_2025-04-23-02-47-44.json
/penboxdat.ipynb
/penboximages
/penboxproject.ipynb
/test
/testimg.png
/train
/yolo11n.pt
/yololabels